<div id="reg_pay_offline">
    <div class="title1">
        <h1>Обучение в автошколе</h1>
    </div>

    <ul class="steps">
        <li class="bg1 done" data-url="{{ path('reg', { act: 'first' }) }}">
            <span><span>1</span> Шаг:</span> Категория прав
            <div class="small">Категория «{{ category.name }}»{{ category.withAt ? (' + '~(with_at ? 'А' : 'М')~'КПП') : '' }}</div>
        </li>
        <li class="bg2 done" data-url="{{ path('reg', { act: 'back' }) }}">
            <span><span>2</span> Шаг:</span> Вариант оплаты
            <div class="small">Оплатить наличными в офисе</div>
        </li>
        <li class="bg3 active"><span><span>3</span> Шаг:</span> Оплата</li>
    </ul>

    {% if settings['reginfo_3_offline'] is defined %}
    <div class="text-info">
        <div class="in">{{ settings['reginfo_3_offline']|raw }}</div>
    </div>
    {% endif %}

    <div class="contacts">
        <a style="position:absolute;right:0;top:-10px" class="btn2 white btn-print" href="{{ path('reg_offline_print') }}" target="_blank" onclick="yaCounter25512893.reachGoal('PRINT');return true;">Распечатать квитанцию</a>
        <h2>Оплата наличными в офисе:</h2>

        <div class="main-price-category" style="margin-bottom:25px">
            <form action="{{ path('reg') }}">
                <div class="head-price head-price-n">
                    Выбрано:
                    {% if category.image %}
                        <img class="icon" src="{{ category.image.webPath }}">
                    {% endif %}
                    <span>Категория «{{ category.name }}»{{ category.withAt ? (' + '~(with_at ? 'А' : 'М')~'КПП') : '' }}</span>
                </div>
                <div class="body-price ie_css3">
                    <ul class="table-list text-center border-left">
                        <li>
                            <div class="img img-center"><img src="/m/images/icon/price-1.png" alt="benefits"></div>
                            <div class="name">Теория</div>
                            <div class="time"><span id="category_theory">{{ category.theory }}</span> ак. часов</div>
                        </li>
                        <li>
                            <div class="img img-center"><img src="/m/images/icon/price-2.png" alt="benefits"></div>
                            <div class="name">Вождение</div>
                            <div class="time"><span id="category_practice">{{ category.practice }}</span> астр. часов</div>
                        </li>
                        <li>
                            <div class="img img-center"><img src="/m/images/icon/price-3.png" alt="benefits"></div>
                            <div class="name">Срок обучения</div>
                            <div class="time"><span id="category_training">{{ category.training }}</span> месяца</div>
                        </li>
                        <li>
                            <div class="img img-center"><img src="/m/images/icon/price-4.png" alt="benefits"></div>
                            <div class="name">Полная стоимость</div>
                            <div class="time"><span id="category_price">{{ cur_price|number_format(0, ',', ' ') }}</span> руб.<span style="color:#a00">*</span></div>
                            <div style="font-size:12px"><span style="color:#a00">*</span>Без учета <a href="{{ path('offers') }}">спецпредложения</a></div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="elem bg bg-addr">
            <div class="big">Адрес автошколы:</div>
            г. Москва,<br>
            м. Марксистская,<br>
            Товарищеский пер, 3 &nbsp; <a href="#">Карта проезда</a>
        </div>
        <div class="elem bg bg-time">
            <div class="big">График работы:</div>
            Пн.−Пт.: 10:00 − 21:00<br>
            Сб.: 10:00 − 17:00<br>
            Вс.: выходной
        </div>
        <div class="elem bg bg-cont">
            <div class="big">Телефон и E-mail:</div>
            (499) 375-70-15<br>
            (495) 215-05-90<br>
            <a href="mailto:info@drivemaster.ru">info@drivemaster.ru</a>
        </div>
    </div>

    <div class="exclam">Оплата обучения в офисе возможна только наличными и только в полном объеме</div>

    <div class="go">
        <a class="btn2 white btn-online" href="{{ path('reg', { act: 'online' }) }}">Посмотреть варианты оплаты со скидкой</a>
        <a class="go-back" href="{{ path('reg', { act: 'back' }) }}"></a>
    </div>
</div>
