{% extends 'AppBundle::admin.html.twig' %}
{% trans_default_domain 'profile' %}

{% block content %}
    {% if user.enabled and user.regInfo['method'] is defined and user.regInfo['method'] == 'offline' and not ('ROLE_USER_PAID3' in user.roles) %}
        <a href="{{ path('admin_paradox_pay', { id: user.id }) }}" class="btn btn-h1 pull-right"><i class="fa fa-money"></i> Оплатить</a>
    {% endif %}

    <a href="{{ path('admin_send_email_to', { id: user.id }) }}" class="btn btn-h1 pull-right"><i class="fa fa-envelope-o"></i> {{ 'admin.buttons.send_email'|trans({}, 'messages') }}</a>
    <a href="{{ path('admin_paradox_user_lock', { state: user.locked ? 0 : 1, id: user.id }) }}" class="btn btn-h1 pull-right"><i class="fa fa-ban"></i> {{ user.locked ? 'admin.buttons.unlock'|trans({}, 'messages') : 'admin.buttons.lock'|trans({}, 'messages') }}</a>
    <h3>{{ 'admin.paradox_users'|trans({}, 'messages') }}</h3>
    <hr>

    {% if user.locked %}
        <h4>Заблокирован</h4>
    {% endif %}
    {% if user.photo %}
    <dl class="dl-horizontal">
        <dt>{{ 'photo_photoFile'|trans({}, 'messages') }}:</dt><dd><img class="img-polaroid" src="{{ user.photoWebPath|imagine_filter('photo_small_new') }}?t={{ 'now'|date('U') }}" alt="" /></dd>
    </dl>
    {% endif %}

    <legend>{{ 'profile_registr_data'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_email'|trans }}:</dt>
        <dd>{{ user.email }}</dd>
        <dt>{{ 'profile_last_name'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_name">
            <span>{{ user.lastName }}</span>
            <button id="copy_name" class="btn btn-mini btn-copy" data-content="{{ user.lastName~' '~user.firstName~' '~user.patronymic }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        <dt>{{ 'profile_first_name'|trans }}:</dt>
        <dd class="copy_row copy_name">
            <span>{{ user.firstName }}</span>
        </dd>
        <dt>{{ 'profile_patronymic'|trans }}:</dt>
        <dd class="copy_row copy_name">
            <span>{{ user.patronymic }}</span>
        </dd>
        <dt>{{ 'profile_region'|trans }}:</dt>
        <dd>{{ user.region }}</dd>
    </dl>

    {% if user.sex %}
    <legend>{{ 'profile_passport_data'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_sex'|trans }}:</dt>
        <dd>{{ user.sex|trans }}</dd>
        <dt>{{ 'profile_birthday'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_birthday">
            <span>{{ user.birthday|date('d.m.Y') }}</span>
            <button id="copy_birthday" class="btn btn-mini btn-copy" data-content="{{ user.birthday|date('d.m.Y') }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        {% if user.foreignPassport %}
        <dt>{{ 'profile_foreign_passport_number'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_foreign_passport_number">
            <span>{{ user.foreignPassportNumber }}</span>
            <button id="copy_foreign_passport_number" class="btn btn-mini btn-copy" data-content="{{ user.foreignPassportNumber }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        {% else %}
        {% set attrs = user.passportNumber|split(' ') %}
        <dt>{{ 'profile_passport_number_ser'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_passport_number_ser">
            <span>{{ attrs[0] }}</span>
            <button id="copy_passport_number_ser" class="btn btn-mini btn-copy" data-content="{{ attrs[0] }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        <dt>{{ 'profile_passport_number_num'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_passport_number_num">
            <span>{{ attrs[1] }}</span>
            <button id="copy_passport_number_num" class="btn btn-mini btn-copy" data-content="{{ attrs[1] }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        {% endif %}
        <dt>{{ 'profile_passport_rovd'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_passport_rovd">
            <span>{{ user.passportRovd }}</span>
            <button id="copy_passport_rovd" class="btn btn-mini btn-copy" data-content="{{ user.passportRovd }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        <dt>{{ 'profile_passport_rovd_number'|trans }}:</dt>
        <dd>{{ user.passportRovdNumber }}</dd>
        <dt>{{ 'profile_passport_rovd_date'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_passport_rovd_date">
            <span>{{ user.passportRovdDate|date('d.m.Y') }}</span>
            <button id="copy_passport_rovd_date" class="btn btn-mini btn-copy" data-content="{{ user.passportRovdDate|date('d.m.Y') }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
    </dl>
    {% endif %}

    {% if user.birthCountry or user.birthRegion or user.birthCity %}
    <legend>{{ 'profile_birth_place'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_birth_country'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_birth_country">
            <span>{{ (user.birthCountry ? user.birthCountry : '&ndash;')|raw }}</span>
            {% set attrs = [] %}
            {% for prop in ['Country', 'Region', 'City'] %}
                {% if attribute(user, 'birth'~prop) %}
                    {% set attrs = attrs|merge([attribute(user, 'birth'~prop)]) %}
                {% endif %}
            {% endfor %}
            <button id="copy_birth_country" class="btn btn-mini btn-copy" data-content="{{ attrs|join(', ') }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        <dt>{{ 'profile_birth_region'|trans }}:</dt>
        <dd class="copy_row copy_birth_country">
            <span>{{ (user.birthRegion ? user.birthRegion : '&dash;')|raw }}</span>
        </dd>
        <dt>{{ 'profile_birth_city'|trans }}:</dt>
        <dd class="copy_row copy_birth_country">
            <span>{{ (user.birthCity ? user.birthCity : '&ndash;' )|raw }}</span>
        </dd>
    </dl>
    {% endif %}

    {% if user.registrationCountry and not user.notRegistration %}
    <legend>{{ 'profile_registration_data'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_registration_country'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_registration_data">
            <span>{{ user.registrationCountry }}</span>
            {% set attrs = [] %}
            {% for prop in ['Country', 'Region', 'City', 'Street', 'House', 'Stroenie', 'Korpus', 'Apartament'] %}
                {% if attribute(user, 'registration'~prop) %}
                    {% set attrs = attrs|merge([attribute(user, 'registration'~prop)]) %}
                {% endif %}
            {% endfor %}
            <button id="copy_registration_data" class="btn btn-mini btn-copy" data-content="{{ attrs|join(', ') }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        <dt>{{ 'profile_registration_region'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationRegion }}</span>
        </dd>
        <dt>{{ 'profile_registration_city'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationCity }}</span>
        </dd>
        <dt>{{ 'profile_registration_street'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationStreet }}</span>
        </dd>
        <dt>{{ 'profile_registration_house'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationHouse }}</span>
        </dd>
        {% if user.registrationStroenie %}
        <dt>{{ 'profile_registration_stroenie'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationStroenie }}</span>
        </dd>
        {% endif %}
        {% if user.registrationKorpus %}
        <dt>{{ 'profile_registration_korpus'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationKorpus }}</span>
        </dd>
        {% endif %}
        {% if user.registrationApartament %}
        <dt>{{ 'profile_registration_apartament'|trans }}:</dt>
        <dd class="copy_row copy_registration_data">
            <span>{{ user.registrationApartament }}</span>
        </dd>
        {% endif %}
    </dl>
    {% endif %}

    {% if user.placeCountry and user.notRegistration %}
    <legend>{{ 'profile_place_data'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_place_country'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_place_data">
            <span>{{ user.placeCountry }}</span>
            {% set attrs = [] %}
            {% for prop in ['Country', 'Region', 'City', 'Street', 'House', 'Stroenie', 'Korpus', 'Apartament'] %}
                {% if attribute(user, 'place'~prop) %}
                    {% set attrs = attrs|merge([attribute(user, 'place'~prop)]) %}
                {% endif %}
            {% endfor %}
            <button id="copy_place_data" class="btn btn-mini btn-copy" data-content="{{ attrs|join(', ') }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        <dt>{{ 'profile_place_region'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeRegion }}</span>
        </dd>
        <dt>{{ 'profile_place_city'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeCity }}</span>
        </dd>
        <dt>{{ 'profile_place_street'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeStreet }}</span>
        </dd>
        <dt>{{ 'profile_place_house'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeHouse }}</span>
        </dd>
        {% if user.placeStroenie %}
        <dt>{{ 'profile_place_stroenie'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeStroenie }}</span>
        </dd>
        {% endif %}
        {% if user.placeKorpus %}
        <dt>{{ 'profile_place_korpus'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeKorpus }}</span>
        </dd>
        {% endif %}
        {% if user.placeApartament %}
        <dt>{{ 'profile_place_apartament'|trans }}:</dt>
        <dd class="copy_row copy_place_data">
            <span>{{ user.placeApartament }}</span>
        </dd>
        {% endif %}
    </dl>
    {% endif %}

    {% if user.workPlace or user.workPosition %}
    <legend>{{ 'profile_work'|trans }}:</legend>
    <dl class="dl-horizontal">
        {% if user.workPlace %}
        <dt>{{ 'profile_work_place'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_work_place">
            <span>{{ user.workPlace }}</span>
            <button id="copy_work_place" class="btn btn-mini btn-copy" data-content="{{ user.workPlace }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        {% endif %}
        {% if user.workPosition %}
        <dt>{{ 'profile_work_position'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_work_position">
            <span>{{ user.workPosition }}</span>
            <button id="copy_work_position" class="btn btn-mini btn-copy" data-content="{{ user.workPosition }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        {% endif %}
    </dl>
    {% endif %}

    {% if user.phoneMobile %}
    <legend>{{ 'profile_phone_data'|trans }}:</legend>
    <dl class="dl-horizontal">
        {% if user.phoneHome %}
        <dt>{{ 'profile_phone_home'|trans }}:</dt>
        <dd>{{ user.phoneHome }}</dd>
        {% endif %}
        <dt>{{ 'profile_phone_mobile'|trans }}:</dt>
        <dd class="copy_row_with_btn copy_phone_mobile">
            <span>
                +7 {{ user.phoneMobile }}
                <span id="mobile_status">
                    {% if 'confirmed' == user.phoneMobileStatus %}
                    <span class="text-success">{{ 'mobile_status.confirmed'|trans({}, 'messages') }}</span>
                    {% else %}
                    <span class="text-error">{{ 'mobile_status.not_confirmed'|trans({}, 'messages') }}</span>
                    {% endif %}
                </span>
            </span>
            <button id="copy_phone_mobile" class="btn btn-mini btn-copy" data-content="+7 {{ user.phoneMobile }}">
                <i class="fa fa-copy"></i>
                {{ 'admin.buttons.copy'|trans({}, 'messages') }}
            </button>
        </dd>
        {% if user.oldMobilePhones|length %}
        <dt>{{ 'profile_old_mobile_phones'|trans }}:</dt>
        <dd>
            {% for phone in user.oldMobilePhones %}
            +7 {{ phone.phone }} <span id="mobile_status"><span class="text-success">{{ 'mobile_status.confirmed'|trans({}, 'messages') }}</span></span><br>
            {% endfor %}
        </dd>
        {% endif %}
    </dl>
    {% endif %}

    {% if user.regionPlace %}
        <legend>{{ 'profile_region_place'|trans }}:</legend>
        <dl class="dl-horizontal">
            <dt>{{ 'profile_region'|trans }}:</dt>
            <dd>{{ user.region }}</dd>
            <dt>{{ 'profile_region_place'|trans }}:</dt>
            <dd>{{ user.regionPlace }}</dd>
        </dl>
    {% endif %}

    <legend>{{ 'profile_additional_info'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_support_dialogs'|trans }}:</dt>
        <dd><a href="{{ path('admin_support_dialogs')~'?support_dialog[user_email]='~user.email }}">{{ user.supportDialogs|length }} шт.</a></dd>
    </dl>

    {% if user.paradoxId %}
    <legend>{{ 'profile_additional_info'|trans }}:</legend>
    <dl class="dl-horizontal">
        <dt>{{ 'profile_paradox_id'|trans }}:</dt>
        <dd>{{ user.paradoxId }}</dd>
        <dt>{{ 'profile_webgroup'|trans }}:</dt>
        <dd>{{ user.webgroup }}</dd>
    </dl>
    {% endif %}

    {% if payments %}
    <legend>{{ 'profile_payments'|trans }}:</legend>
    <table class="table table-striped">
        <tr>
            <th>{{ 'payment_services'|trans({}, 'payment') }}</th>
            <th class="min_col">{{ 'payment_date'|trans({}, 'payment') }}</th>
            <th class="min_col">{{ 'payment_sum'|trans({}, 'payment') }}</th>
            <th class="min_col">{{ 'payment_s_id'|trans({}, 'payment') }}</th>
        </tr>
        {% for payment in payments %}
        {% if payment.paid %}
        <tr class="success">
            <td>
            {% for category in payment.categories %}
                {{ category.name }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
            {% for service in payment.services %}
                {{ service.name }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
            </td>
            <td class="min_col">
                {{ payment.updated_at|date('d.m.Y') }}
            </td>
            <td class="min_col">
                {{ 'payments.paid'|trans({ '%sum%': payment.sum }, 'messages') }}
            </td>
            <td class="min_col">
                <span class="pull-right">
                    {% if payment.moderator_name is defined %}
                        {{ 'payment_at_the_office'|trans({}, 'payment') }}: {{ payment.moderator_name }}
                    {% else %}
                        {{ payment.s_id ? '#'~payment.s_id : ''}}
                    {% endif %}
                    {% if payment.comment['promo_key'] is defined %}
                        {{ (payment.s_id ? '<br>' : '')|raw }}Промокод:<br>{{ payment.comment['promo_key'] }}
                    {% endif %}
                </span>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}

    <legend>{{ 'profile_exams'|trans }}:</legend>
    <table class="table table-striped">
        <tr>
            <th>{{ 'exam_subject'|trans({}, 'exam') }}</th>
            <th class="min_col">{{ 'exam_pass_date'|trans({}, 'exam') }}</th>
        </tr>
        {% for subject in subjects %}
        <tr class="{{ subject.is_passed ? 'success' : 'error' }}">
            <td>{{ subject.object.title }}</td>
            <td class="min_col">{{ subject.is_passed ? subject.passed_date|date('d.m.Y') : '--' }}</td>
        </tr>
        {% endfor %}
        <tr class="{{ is_passed ? 'success' : 'error' }}">
            <td>{{ 'final_exam'|trans({}, 'messages') }}</td>
            <td class="min_col">{{ is_passed ? passed_date|date('d.m.Y') : '--' }}</td>
        </tr>
    </table>

    <div class="form-actions">
        {% if not user.paradoxId %}
        <a class="btn btn-success" href="{{ path('admin_paradox_user_set', { id: user.id }) }}"><i class="fa fa-download"></i> {{ 'admin.buttons.paradox_set'|trans({}, 'messages') }}</a>
        <a href="{{ path('admin_paradox_to_precheck', { id: user.id }) }}" class="btn btn-danger"><i class="fa fa-undo"></i> {{ 'admin.buttons.to_precheck'|trans({}, 'messages') }}</a>
        {% endif %}
        <a class="btn pull-right" href="{{ path('admin_paradox_users') }}"><i class="fa fa-arrow-left"></i> {{ 'admin.buttons.back_to_list'|trans({}, 'messages') }}</a>
    </div>
{% endblock content %}

{% block js %}
<script src="/assets/zeroclipboard/jquery.zeroclipboard.min.js"></script>
<script>
$(function() {
    var copy = function(name) {
        var spans = $('.copy_' + name + ' > span');
        $('#copy_' + name)
            .hover(function() {
                spans.css('background', '#f0f0f0');
            }, function() {
                spans.css('background', 'transparent');
            })
            .on('copy', function(e) {
                e.clipboardData.clearData();
                e.clipboardData.setData('text/plain', $(this).data('content') + '');
                e.preventDefault();
            })
        ;
    };
    $('.btn-copy').each(function() {
        copy($(this).attr('id').substr(5));
    });
});
</script>
{% endblock js %}
