{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
    {% if entity.type == 'keys' %}
    <a href="{{ path('admin_promo_add_keys', { id: entity.id }) }}" class="btn pull-right btn-h1">
        <i class="fa fa-plus"></i>
        {{ 'admin.promo_add_keys'|trans }}
    </a>
    {% endif %}
    {% if entity.type == 'users' %}
    <a href="{{ path('admin_promo_add_activations', { id: entity.id }) }}" class="btn pull-right btn-h1">
        <i class="fa fa-plus"></i>
        {{ 'admin.promo_add_activations'|trans }}
    </a>
    {% endif %}
    <h3>{{ 'admin.promo_activations_list'|trans({ '%campaign%': entity.name }) }}</h3>
    <hr>

    {% if filter_form is defined %}
    <a id="filter_link" href="#"><i class="fa fa-caret-down"></i> Фильтр</a>
    <div id="filter">
        {{ form_start(filter_form) }}
        {{ form_widget(filter_form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right">
                <i class="fa fa-filter"></i>
                <span>{{ 'buttons.filter'|trans }}</span>
            </button>
        </div>
        {{ form_end(filter_form) }}
    </div>
    <br>
    {% endif %}

    {% if entity.keys|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ ('promo_key_key')|trans({}, 'promo') }}</th>
                    <th>{{ ('promo_key_date_create')|trans({}, 'promo') }}</th>
                    <th>{{ ('promo_key_discount')|trans({}, 'promo') }}</th>
                    <th>{{ ('promo_key_date_use')|trans({}, 'promo') }}</th>
                    <th class="min_col">{{ ('promo_key_actived')|trans({}, 'promo') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key in keys %}
                <tr>
                    <td>{{ key.key }}</td>
                    <td>{{ key.date_create|localizeddate('long', 'short') }}</td>
                    <td>{{ key.discount }}</td>
                    {% if key.user %}
                    <td>{{ key.user.act_date|localizeddate('long', 'short') }}</td>
                    <td class="min_col">
                        <a target="_blank" href="{{ path('admin_precheck_user_view', { id: key.user.id }) }}">{{ key.user.full_name }}</a>
                    {% else %}
                    <td><i class="fa fa-minus"></i></td>
                    <td class="min_col">
                        <i class="fa fa-minus"></i>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}

    <div class="form-actions">
        <a class="btn pull-right" href="{{ path('admin_promos') }}"><i class="fa fa-arrow-left"></i> {{ 'admin.buttons.back_to_list'|trans }}</a>
    </div>
{% endblock content %}

{% block js %}
<script>
$(function() {
    {% if app.request.queryString == '' %}
    $('#filter').hide();
    {% endif %}
    $('#filter_link').click(function(e) {
        e.preventDefault();
        $('#filter').toggle();
    });
});
</script>
{% endblock js %}
