{% extends 'AppBundle::admin.html.twig' %}
{% trans_default_domain 'service' %}

{% block content %}
    <h3>{{ (app.request.get('_route') == router_item_edit ? ('admin.'~entity_name_s~'_edit_title') : ('admin.'~entity_name_s~'_add_title'))|trans({}, 'messages') }}</h3>
    <hr>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        {% if regions %}
        <fieldset>
            <legend>{{ 'service_prices_in_regions'|trans }}:</legend>
            {% for region in regions %}
                <div class="control-group">
                    <label for="price_{{ region.id }}" class="control-label">{{ region.name }}:</label>
                    <div class="controls">
                        <div class="input-append">
                            <input value="{{ prices[region.id] is defined ? prices[region.id] : 0 }}" type="text" class="span1 {% if service is defined and service.type == 'training' %} second-price{% endif %}" name="prices[{{ region.id }}]" id="price_{{ region.id }}">
                            <span class="add-on">{{ 'RUB'|trans({}, 'messages') }}</span>
                        </div>
                        <input {{ service is defined ? (service.type is not null ? 'disabled="disabled"' : '') : '' }} {{ prices_active[region.id] is defined ? 'checked="checked"' : '' }} name="prices_active[{{ region.id }}]" type="checkbox" /> Активна
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        {% endif %}

        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-download"></i>
                <span>{{ 'admin.buttons.save'|trans({}, 'messages') }}</span>
            </button>
            {% if app.request.get('_route') == router_item_edit %}
                <a href="{{ path(router_item_delete, { id: entity.id }) }}" class="btn btn-danger" onclick="return confirm('{{ 'you_sure'|trans({}, 'messages') }}')">
                    <i class="fa fa-trash-o"></i> <span>{{ 'admin.buttons.delete'|trans({}, 'messages') }}</span>
                </a>
            {% endif %}
            <a class="btn pull-right" href="{{ path(router_list) }}"><i class="fa fa-arrow-left"></i> {{ 'admin.buttons.back_to_list'|trans({}, 'messages') }}</a>
        </div>
    {{ form_end(form) }}
{% endblock content %}

{% block js %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/*'%}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
