{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
    <a href="{{ path(router_item_add) }}" class="btn pull-right btn-h1">
        <i class="fa fa-plus"></i>
        {{ ('admin.'~entity_name_s~'_add')|trans }}
    </a>
    <h1>{{ ('admin.'~entity_name_s~'_list')|trans }}</h1>
    <hr>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'training_version_category'|trans({}, 'training_version') }}</th>
                <th class="min_col">{{ 'training_version_start_date'|trans({}, 'training_version') }}</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ entity.category }}</td>
                    <td class="min_col">{{ entity.startDate|localizeddate('long', 'none') }}</td>
                    <td class="min_col">
                        <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="nodecor text-success"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path(router_item_delete, { id: entity.id }) }}" class="nodecor text-error" onclick="return confirm('{{ 'you_sure'|trans }}')"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
    {% if pagerfanta.haveToPaginate %}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', { prev_message: '←', next_message: '→' }) }}
    {% endif %}
{% endblock content %}
