{% extends 'AppBundle::layout_new.html.twig' %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'titles.payments'|trans }}</strong>
</nav>

<section>
    <div class="wid">{{ settings['payment_success'] is defined ? settings['payment_success']|raw : '' }}</div>
</section>
{% endblock content %}

{% block js %}
<script>
$(function() {
    setInterval(function() {
        $.getJSON('{{ path('robokassa_is_paid') }}', function(data) {
            if (data.is_paid) {
                window.location = data.redirect_url;
            }
        });
    }, 3000);
});
</script>
{% endblock %}
