{% extends 'AppBundle::layout_m.html.twig' %}

{% block content %}
<div class="wrap">
    <div class="back-link r-fl"><a href="{{ path('homepage') }}"><span class="v-m arrow">«</span>Вернуться</a></div>
    <ul class="breadcrumb">
        <li><a title="Главная" href="{{ path('homepage') }}">Главная</a></li>
        <li class="active"><a href="{{ path('sites') }}">Площадки</a></li>
    </ul>

    <div class="main-title left-bg">
        <div class="caption">Площадки:</div>
    </div>

    <div class="w-metromap" style="padding:0;margin-top:15px;text-align:center">
        <div style="display:inline-block;position:relative">
            <img src="{{ map_path }}" alt="карта метро" border="0" usemap="#metromap" style="max-width:none" />
            <style scoped="scoped">
                #metromap a, #metromap span {
                    position: absolute;
                }
            </style>
            <div id="metromap">
                {% for site in sites %}
                    {% if app.user and site.showAuth %}
                        {% if site.activeAuth %}
                        <a href="#" data-title="{{ site.title }}" style="left:{{ site.coords['x'] }}px;top:{{ site.coords['y'] }}px">{% if site.image %}<img src="{{ site.image.webPath }}" alt="{{ site.title }}">{% else %}{{ site.title }}{% endif %}</a>
                        {% else %}
                        <span style="left:{{ site.coords['x'] }}px;top:{{ site.coords['y'] }}px;opacity:{{ 1-settings.opacity_not_active_sites/100 }}">{% if site.image %}<img src="{{ site.image.webPath }}" alt="{{ site.title }}">{% else %}{{ site.title }}{% endif %}</span>
                        {% endif %}
                    {% elseif not app.user and site.show %}
                        {% if site.active %}
                        <a href="#" data-title="{{ site.title }}" style="left:{{ site.coords['x'] }}px;top:{{ site.coords['y'] }}px">{% if site.image %}<img src="{{ site.image.webPath }}" alt="{{ site.title }}">{% else %}{{ site.title }}{% endif %}</a>
                        {% else %}
                        <span style="left:{{ site.coords['x'] }}px;top:{{ site.coords['y'] }}px;opacity:{{ 1-settings.opacity_not_active_sites/100 }}">{% if site.image %}<img src="{{ site.image.webPath }}" alt="{{ site.title }}">{% else %}{{ site.title }}{% endif %}</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
$(function() {
    var xOffset = -20;
    var yOffset = 10;
    var widthPadding = 30;
    var tooltip_css = {
        "display": "none",
        "position": "absolute",
        "padding": "10px",
        "left": "5px",
        "font-size": "0.8em",
        "background-color": "white",
        "border": "1px solid #a6c9e2",
        "-moz-border-radius": "5px",
        "-webkit-border-radius": "5px",
        "z-index": "9999",
        "width": "160px"
    };
    var tooltip_img_css = {
        "position": "absolute",
        "top": "-10px",
        "left": "10px"
    };
    var tooltip_close_css = {
        "display": "block",
        "position": "absolute",
        "top": "0",
        "right": "0",
        "cursor": "pointer",
        "background": "url('/img/ico_close.png') center center no-repeat",
        "width": "15px",
        "height": "15px"
    };

    $('#metromap').find('a')
        .on('click', function(e) {
            e.preventDefault();
        })
        .mouseenter(function(e) {
            $('body').append('<p class="vtip"><img class="vtipArrow" />'+$(this).data('title')+'</p>');
            var vtip = $('p.vtip');
            $('.vtipArrow', vtip).css(tooltip_img_css).attr('src', '/img/vtip_arrow.png');
            $(vtip).css(tooltip_css).css('top', (e.pageY + yOffset) + 'px').css('left', (e.pageX + xOffset) + 'px');
            vtip.show();
        })
        .mousemove(function(e) {
            $('p.vtip').css('top', (e.pageY + yOffset) + 'px').css('left', (e.pageX + xOffset) + 'px');
        })
        .mouseleave(function() {
            $('p.vtip').remove();
        });
});
</script>
{% endblock js %}
