{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
    <h3>{{ (app.request.get('_route') == 'admin_support_teacher_edit' ? 'admin.support_teacher_edit_title' : 'admin.support_teacher_add_title')|trans }}</h3>
    <hr>

    <a id="filter_link" href="#"><i class="fa fa-caret-down"></i> Фильтр</a>
    <div id="filter">
        {{ form_start(filter_form) }}
        {{ form_widget(filter_form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right">
                <i class="fa fa-filter"></i>
                <span>{{ 'buttons.filter'|trans }}</span>
            </button>
        </div>
        {{ form_end(filter_form) }}
    </div>
    <br>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col">{{ 'user_id'|trans({}, 'user') }}</th>
                <th>{{ 'user_email'|trans({}, 'user') }}</th>
                <th>{{ 'user_name'|trans({}, 'user') }}</th>
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</td>
                    <td class="min_col">
                        <a href="{{ path('admin_support_teacher_assign_user', { id: user.id }) }}">
                            <button type="submit" class="btn btn-success"><i class="fa fa-download"></i> Назначить</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
    {% if pagerfanta.haveToPaginate %}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', { prev_message: '←', next_message: '→' }) }}
    {% endif %}

    <div class="form-actions">
        <a class="btn pull-right" href="{{ path('admin_support_teachers') }}"><i class="fa fa-arrow-left"></i> {{ 'admin.buttons.back_to_list'|trans }}</a>
    </div>
{% endblock content %}

{% block js %}
<script>
$(function() {
    {% if app.request.queryString == '' %}
    $('#filter').hide();
    {% endif %}
    $('#filter_link').click(function() {
        $('#filter').toggle();
        return false;
    });
});
</script>
{% endblock js %}
