{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
    <a href="{{ path('admin_support_teacher_add') }}" class="btn pull-right btn-h1"><i class="fa fa-plus"></i> {{ 'admin.support_teacher_add'|trans }}</a>
    <h1>{{ 'admin.support_teachers'|trans }}</h1>
    <hr>
    {% if teachers|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'support_teacher_name'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.user.fullName }}</td>
                    <td class="min_col">
                        <a href="{{ path('admin_support_teacher_edit', { id: teacher.id }) }}" class="nodecor text-success"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path('admin_support_teacher_remove_assigned_user', { id: teacher.id }) }}" class="nodecor text-error" onclick="return confirm('{{ 'you_sure'|trans }}')"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}
