<table width="100%" cellspacing="0" cellpadding="0" border="0" style="font-family: Arial, Helvetica, sans-serif; background-image: url('{{ 'http://'~_host }}/yp/img/mail-bg.png');background-repeat:repeat">
    <tr>
        <td width="100%">
            <table width="563" cellspacing="0" cellpadding="0" border="0" align="center" class="table">
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-image:url('{{ 'http://'~_host }}/yp/img/header_mail.png');background-repeat:no-repeat;height:210px;background-color:#e9f2f0">
                            <tr>
                                <td style="width:16px"></td>
                                <td>
                                    <a href="http://ya-prava.ru/" style="text-decoration:none;display:block">
                                        <img src="{{ 'http://'~_host }}/yp/img/logo_mail.png" alt="">
                                    </a>
                                </td>
                                <td style="color:#444444;font-size:25px;font-weight:400;line-height:85px;text-align:right;padding-bottom:20px">+7 (495) 374-76-00</td>
                                <td style="width:28px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" bgcolor="#e9f2f0">
                            <tr>
                                <td style="width:28px"></td>
                                <td>{{ message|raw }}</td>
                                <td style="width:28px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-image:url('{{ 'http://'~_host }}/yp/img/mail_bg_waves.png');background-repeat:repeat-x;height:26px;background-color:#ffffff">
                            <tr>
                                <td style="height:26px"> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-color:#ffffff;padding-bottom:15px">
                            <tr>
                                <td style="width:28px"></td>
                                <td width="24px" align="center">
                                    <img src="{{ 'http://'~_host }}/yp/img/icon_2.png" alt="">
                                </td>
                                <td style="padding-left:16px">
                                    <a href="http://ya-prava.ru/contact/" style="color:#15b9ac;font-size:17px;font-weight:400;line-height:24px;text-decoration:underline">
                                        г. Москва, Товарищеский переулок, дом 3
                                    </a>
                                </td>
                                <td style="width:28px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-color:#ffffff">
                            <tr>
                                <td style="width:28px"></td>
                                <td width="24px">
                                    <img src="{{ 'http://'~_host }}/yp/img/icon_clock.png" alt="">
                                </td>
                                <td style="color:black;font-size:17px;font-weight:400;line-height:29px;padding-left:16px">
                                    График работы:
                                </td>
                                <td style="width:28px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-color:#ffffff;padding-bottom:20px;padding-top:8px">
                            <tr>
                                <td style="width:64px"></td>
                                <td width="24px">
                                    <img src="{{ 'http://'~_host }}/yp/img/crystals.png" alt="">
                                </td>
                                <td style="color:black;font-size:17px;font-weight:400;line-height:24px;padding-left:5px">
                                    Пн – Пт: с 10.00 до 21.00
                                </td>
                                <td style="width:64px"></td>
                            </tr>
                            <tr>
                                <td style="width:64px"></td>
                                <td width="24px">
                                    <img src="{{ 'http://'~_host }}/yp/img/crystals.png" alt="">
                                </td>
                                <td style="color:black;font-size:17px;font-weight:400;line-height:24px;padding-left:5px">
                                    Суббота: с 11.00 до 16.00
                                </td>
                                <td style="width:64px"></td>
                            </tr>
                            <tr>
                                <td style="width:64px"></td>
                                <td width="24px">
                                    <img src="{{ 'http://'~_host }}/yp/img/crystals.png" alt="">
                                </td>
                                <td style="color:black;font-size:17px;font-weight:400;line-height:24px;padding-left:5px">
                                    Воскресенье: выходной
                                </td>
                                <td style="width:64px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-color:#ffffff">
                            <tr>
                                <td style="width:28px"></td>
                                <td width="24px">
                                    <img src="{{ 'http://'~_host }}/yp/img/icon_phone.png" alt="" style="padding-top:5px">
                                </td>
                                <td style="color:black;font-size:17px;font-weight:400;line-height:29px;padding-left:16px">
                                    Телефон:
                                </td>
                                <td style="width:28px"></td>
                            </tr>
                            <tr>
                                <td style="width:28px"></td>
                                <td width="24px"> </td>
                                <td style="color:black;font-size:17px;font-weight:400;line-height:29px;padding-left:16px">
                                    +7 (495) 374-76-00
                                </td>
                                <td style="width:28px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-image:url('{{ 'http://'~_host }}/yp/img/bg_footer.png');background-repeat:no-repeat;height:34px;background-color:#ffffff">
                            <tr>
                                <td style="height:34px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="table" style="background-color:#333333;padding-top:22px;padding-bottom:30px">
                            <tr>
                                <td style="width:28px"></td>
                                <td align="center" style="color:#ffffff;opacity:0.85;font-size:14px;font-weight:400;line-height:16px;padding-bottom:14px">
                                    Вы получили это письмо,
                                    потому что зарегистрированы на портале дистанционного обучения Автошколы ЯПрава.
                                </td>
                                <td style="width:28px"></td>
                            </tr>
                            <tr>
                                <td style="width:28px"></td>
                                <td align="center" style="color:#b2b2b2;font-size:15px;font-weight:400;line-height:23px">
                                    ЯПрава.ру © Все права защищены
                                </td>
                                <td style="width:28px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
