{% extends 'AppBundle::layout_new.html.twig' %}

{% form_theme form 'AppBundle::form_new.html.twig' %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'menu.change_password'|trans }}</strong>
</nav>

<div class="mainContent">
    <div class="title"><h1>{{ 'menu.change_password'|trans }}</h1></div>

    {{ form_start(form) }}
        {{ form_row(form.old_password) }}
        {{ form_row(form.new_password) }}
        <div class="links bottom">
            <span class="link bg-green message-bg">
                {{ 'buttons.change'|trans }}
                <input value="" type="submit">
            </span>
        </div>
    {{ form_end(form) }}
</div>
{% endblock content %}
