{% extends 'AppBundle::layout_new.html.twig' %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'titles.notifies'|trans }}</strong>
</nav>

<div class="mainContent">
    <div class="title"><h1>{{ 'titles.notifies'|trans }}</h1></div>

    {% if notifies|length > 0 %}
        <section class="notices">
            {% for notify in notifies %}
                <figure{{ not notify.readed ? ' class="new"' : '' }}>
                    <div class="date">
                        <div class="cell">{{ notify.sended_at|localizeddate('long', 'none') }}</div>
                    </div>
                    <div class="nofloat">
                        <div class="cell{{ not notify.readed ? ' cell_pad' : '' }}">
                            <a href="{{ path('my_notify_read', { id: notify.id }) }}">{{ notify.title }}</a>
                        </div>
                    </div>
                    {% if not notify.readed %}
                        <div class="cover">Новое</div>
                    {% endif %}
                </figure>
            {% endfor %}
        </section>
    {% endif %}
</div>
{% endblock content %}
