{% extends 'AppBundle::layout_new.html.twig' %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'titles.stat'|trans }}</strong>
</nav>

<div class="mainContent">
    <section class="stat2">
        <div class="title">
            <h1>{{ 'titles.stat'|trans }}</h1>
        </div>

        {% if themes_stat|length > 0 %}
            {% include 'AppBundle:My:_stat.html.twig' %}
        {% else %}
            <span>{{ (settings['training_test_statistics_empty'] is defined ? settings['training_test_statistics_empty'] : 'no_data'|trans)|raw }}</span>
        {% endif %}
    </section>
</div>
{% endblock content %}
