{% extends 'AppBundle::layout_new.html.twig' %}

{% form_theme form 'AppBundle::form_new.html.twig' %}

{% block start_content %}
<div id="modal-empty" class="modal border-red">
    <div class="notice bg-sad">
        <div class="title">ВЫ НЕ ВЫБРАЛИ БИЛЕТЫ</div>
        Чтобы начать тестирование необходимо выбрать хотя бы один билет. Вы можете выбрать интересующие Вас билеты по отдельности или все билеты сразу, нажав "Выбрать все". Снять выделение со всех билетов можно нажав “Очистить”.
    </div>
    <span class="close"></span>
</div>
{% endblock start_content %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'titles.test'|trans }}</strong>
</nav>

<div class="mainContent">
    <section class="tickets">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="title"><h1>{{ 'titles.test'|trans }}</h1></div>

            <ul class="list">
                {% for child in form.tickets %}
                    <li>
                        <div class="hold">
                            {{ form_widget(child) }}
                        </div>
                        <label for="{{ child.vars.id }}"></label>
                        {{ (child.vars.label)|trans }}
                    </li>
                {% endfor %}
            </ul>

            <div class="set">
                <div class="l">
                    <div class="check all">
                        <input class="customCheckbox" id="all" type="checkbox" value="">
                        <label for="all">Выбрать все</label>
                    </div>
                    <button type="reset" class="reset-form">Очистить</button>
                </div>

                <div class="r">
                    <div class="check">
                        {{ form_widget(form.comments) }}
                        {{ form_label(form.comments) }}
                    </div>
                    <div class="check">
                        {{ form_widget(form.time) }}
                        {{ form_label(form.time) }}
                    </div>
                </div>
            </div>

            <div class="links">
                <span class="link bg-green start-link">
                    {{ 'buttons.start'|trans }}
                    <input value="" type="submit">
                </span>
            </div>

        {{ form_end(form) }}
    </section>
</div>
{% endblock content %}

{% block js %}
<script>
$(function() {
    $('.tickets form').submit(function() {
        if (!$('.list', $(this)).find(':checked').length) {
            $.simplebox('#modal-empty');
            return false;
        }
    });
});
</script>
{% endblock js %}
