<div class="title">
    <a class="rlink help-link" href="#">Помощник</a>
    <h1>{{ 'ticket_num'|trans({ '%ticket%': ticket+1 }) }}</h1>
</div>

{% if max_errors > 0 %}
    <div class="errors">Ошибки: <span>{{ errors }}</span> из {{ max_errors }}</div>
{% endif %}

{% if end_time %}
    <div class="timer" data-end-time="{{ end_time|date('r') }}">0:00</div>
{% endif %}

<div class="steps">
    {% for key in answers[ticket]|keys %}
        {% if num == key %}
            <span class="now">{{ loop.index }}</span>
        {% else %}
            <span {{ answers[ticket][key] ? (answers[ticket][key]|last.correct ? ' class="ok"' : ' class="err"') : '' }}>{{ loop.index }}</span>
        {% endif %}
    {% endfor %}
</div>

<div class="hr"></div>

{% if question.image %}
    <div class="img"><img src="{{ question.image.webPath|imagine_filter('image') }}" alt=""></div>
{% endif %}

<div class="qu">{{ question.text }}</div>

<form action="" method="post">

    {% for key, answer in q_answers %}
        <div class="answer"{{ (is_granted('ROLE_MOD') or _is_test) and answer.correct ? ' style="background-color:#f8ffeb"' : '' }}>
            <input id="answer_{{ key }}" type="radio" required="required" name="answer" value="{{ key }}" />
            <label for="answer_{{ key }}"></label>
            {{ answer.title }}
        </div>
    {% endfor %}

    <div class="bottom links">
        <span class="link l bg-green answer-link">
            {{ 'buttons.answer'|trans }}
            <input value="" type="submit">
        </span>

        <span class="link l bg-blue answer-link">
            {{ 'buttons.continue'|trans }}
            <input value="" type="submit">
        </span>

        <div class="r">
            {% if is_granted('ROLE_MOD_CONTENT') %}
                <a target="_blank" class="edit-link" href="{{ path('admin_question_edit', { id: question.id }) }}">Редактировать вопрос</a>
            {% endif %}
            <a class="exit-link" href="#">{{ 'buttons.quit'|trans }}</a>
        </div>
    </div>
</form>
