{% extends 'AppBundle::layout_new.html.twig' %}

{% block start_content %}
<div id="helper" class="modal helper">
    <div class="title">{{ 'help_title'|trans }}</div>
    {{ settings['question_help_btn']|raw }}
    <div class="bottom links"><span class="link bg-green check-link btn-close">Спасибо, все понятно</span></div>
    <span class="close"></span>
</div>

<div id="modal-complete" class="modal border-green">
    <div class="notice bg-prize">
        <div class="title">Поздравляем</div>
        {{ settings['training_theme_test_complete_list']|raw }}
        <div class="links">
            <a class="bg-green" href="{{ path('my_training', { id: theme.subject.id }) }}">{{ 'theme_test_complete_list'|trans }}</a>
        </div>
    </div>
    <span class="close"></span>
</div>

<div id="modal-quit" class="modal border-red wid2">
    <div class="notice center">
        <div class="title">Прервать тест</div>
        Вы уверены что хотите прервать тест?
        <div class="links">
            <a class="bg-green" href="{{ path('my_training_theme_test_quit', { id: theme.id }) }}">Да</a>
            <a class="bg-red" href="#">Нет</a>
        </div>
    </div>
    <span class="close"></span>
</div>

<div id="modal-timeout" class="modal">
    <div class="notice bg-time">
        <div class="title">Время закончилось</div>
        {{ settings['training_theme_test_timeout']|raw }}
        <div class="links">
            <a class="bg-green" href="{{ path('my_training_theme_test_quit', { id: theme.id }) }}">{{ 'theme_test_timeout_repeat'|trans }}</a>
            <a class="bg-red" href="{{ path('my_training_theme', { id: theme.id }) }}">{{ 'theme_test_complete_next'|trans }}</a>
        </div>
    </div>
    <span class="close"></span>
</div>

<div id="modal-error" class="modal border-red">
    <div class="notice">
        <div class="title">Вы дали неверный ответ на вопрос</div>
        <div class="comment"></div>
        <div class="links">
            <a class="bg-red" href="#">Продолжить</a>
        </div>
    </div>
    <span class="close"></span>
</div>
{% endblock start_content %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <a href="{{ path('my_trainings') }}">{{ 'titles.trainings'|trans }}</a>
    » <a href="{{ path('my_training', { id: theme.subject.id }) }}">{{ theme.subject.title }}</a>
    » <a href="{{ path('my_training_theme', { id: theme.id }) }}">{{ theme.title }}</a>
    » <strong>{{ 'theme_test_title'|trans }}</strong>
</nav>

<div class="mainContent">
    <section id="test-content" class="test">
        {% include 'AppBundle:My:training_theme_question_in.html.twig' %}
    </section>
</div>
{% endblock content %}

{% block js %}
<script src="/v2/js/jquery.countdown.js"></script>
<script>
$(function() {
    var modal_quit = $('#modal-quit');
    $('.bg-red', modal_quit).click(function(e) {
        e.preventDefault();
        $.simplebox.close();
    });

    var modal_error = $('#modal-error');
    $('.bg-red', modal_error).click(function(e) {
        e.preventDefault();
        $.simplebox.close();
        $('form').submit();
    });

    var error = function(type) {
        switch (type) {
            case 'longtime':
                location.assign('{{ path('my_training_theme_test', { id: theme.id }) }}');
                break;
            case 'timeout':
                $.simplebox('#modal-timeout');
                break;
            default:
        }
    };

    var test = function() {
        $('.answer').find('input').removeAttr('disabled');

        $('.exit-link').click(function(e) {
            e.preventDefault();
            $.simplebox('#modal-quit');
        });

        $('.help-link').click(function(e) {
            e.preventDefault();
            $.simplebox('#helper');
        });
        $('#helper').find('.check-link').click(function() {
            $.simplebox.close();
        });

        $('#comments').change(function() {
            location.assign('{{ path('my_training_theme_test_comment', { id: theme.id }) }}');
        });

        var timer = $('.timer');
        if (timer.length) {
            timer.countdown({
                until: new Date(timer.data('end-time')),
                layout: '{mn}{sep}{snn}',
                onExpiry: function() {
                    error('timeout');
                }
            });
        }

        var is_continue = false;
        $('.answer-link.bg-blue').hide();
        var form = $('form');
        form.submit(function(e) {
            e.preventDefault();

            $('.answer-link').hide();
            if (is_continue) {
                $.getJSON('{{ path('my_training_theme_test_next_question_ajax', { id: theme.id }) }}', function(data) {
                    if (data.refresh) {
                        location.assign('{{ path('my_training_theme_test', { id: theme.id }) }}');
                    } else if (data.error) {
                        error(data.error);
                    } else if (data.complete) {
                        $.simplebox('#modal-complete');
                    } else {
                        $('#test-content').html(data.content);
                        test();
                    }
                });
            } else {
                $.post(form.attr('action'), form.serialize(), function(data) {
                    if (data.error) {
                        error(data.error);
                    } else {
                        var answer = $('#answer_' + data.c_answer).closest('.answer');
                        if (data.correct) {
                            answer.addClass('ok');
                            answer.append('<div class="err-text">Верный ответ</div>');
                        } else {
                            answer.addClass('error');
                            answer.append('<div class="err-text">Неверный ответ</div>');
                            $('.errors').find('span').html(data.errors);
                            if (data.comment) {
                                $.simplebox('#modal-error', { duration: 0 });
                                $('.comment', modal_error).html(data.comment);
                            }
                        }
                        is_continue = true;
                        $('.answer').find('input').attr('disabled', 'disabled');
                        if (data.correct) {
                            form.submit();
                        } else {
                            $('.answer-link.bg-blue').show();
                        }
                    }
                }, 'json');
            }
        });
    };
    test();
});
</script>
{% endblock js %}
