<div class="title">
    <a class="rlink help-link" href="#">Помощник</a>
    <h1>{{ 'training.theme'|trans }}: {{ theme.title }}</h1>
</div>

{% if is_shuffle %}
    <div class="check">
        <input id="comments" type="checkbox"{{ is_comment ? ' checked="checked"' : '' }}>
        <label for="comments">Комментарии к неверным ответам?</label>
    </div>
{% endif %}

{% if end_time %}
    <div class="timer" data-end-time="{{ end_time|date('r') }}">0:00</div>
{% endif %}

{% if is_shuffle %}
    {% set remaining = answers|length - correct_all|last %}
        <ul class="stat">
            <li>Всего <strong>{{ answers|length }}</strong></li>
            <li>На этот<br>вопрос <strong>{{ correct_this }}</strong></li>
            <li>Осталось <strong>{{ remaining }}</strong></li>
            {% if correct_answers > 0 %}
                {% for correct_row in correct_all %}
                    <li>Правильно<br>{{ 'theme_test_is_shuffle.times'|transchoice(loop.index, { '%n%': loop.index}) }} <strong>{{ correct_all[loop.index] }}</strong></li>
                {% endfor %}
            {% endif %}
        </ul>
{% else %}
    <div class="steps">
        {% for key in answers|keys %}
            {% if num == key %}
                <span class="now">{{ loop.index }}</span>
            {% else %}
                <span {{ answers[key] ? (answers[key].correct ? ' class="ok"' : ' class="err"') : '' }}>{{ loop.index }}</span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<div class="hr"></div>

{% if question.image %}
    <div class="img"><img src="{{ question.image.webPath|imagine_filter('image') }}" alt=""></div>
{% endif %}

<div class="qu">{{ question.text }}</div>

<form action="" method="post">

    {% for key, answer in q_answers %}
        <div class="answer"{{ (is_granted('ROLE_MOD') or _is_test) and answer.correct ? ' style="background-color:#f8ffeb"' : '' }}>
            <input id="answer_{{ key }}" type="radio" required="required" name="answer" value="{{ key }}" />
            <label for="answer_{{ key }}"></label>
            {{ answer.title }}
        </div>
    {% endfor %}

    <div class="bottom links">
        <span class="link l bg-green answer-link">
            {{ 'buttons.answer'|trans }}
            <input value="" type="submit">
        </span>

        <span class="link l bg-blue answer-link">
            {{ 'buttons.continue'|trans }}
            <input value="" type="submit">
        </span>

        <div class="r">
            {% if is_granted('ROLE_MOD_CONTENT') %}
                <a target="_blank" class="edit-link" href="{{ path('admin_question_edit', { id: question.id }) }}">Редактировать вопрос</a>
            {% endif %}
            <a class="exit-link" href="#">{{ 'buttons.quit'|trans }}</a>
        </div>
    </div>
</form>
