{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
    <a href="{{ path(router_item_add) }}" class="btn pull-right btn-h1">
        <i class="fa fa-plus"></i>
        {{ ('admin.'~entity_name_s~'_add')|trans }}
    </a>
    <h1>{{ ('admin.'~entity_name_s~'_list')|trans }}</h1>
    <hr>

    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                {% for field in list_fields %}
                    <th>{{ (entity_name_s~'_'~field)|trans({}, 'article') }}</th>
                {% endfor %}
                <th class="min_col"></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagerfanta.currentPageResults %}
                <tr>
                    <td class="min_col">{{ entity.position + 1 }}</td>
                    {% for field in list_fields %}
                        <td>{{ attribute(entity, field) }}</td>
                    {% endfor %}
                    <td class="min_col">
                        <a href="{{ path(router_root~'_up', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-up"></i></a>
                        <a href="{{ path(router_root~'_down', { id: entity.id }) }}" class="nodecor text-info"><i class="fa fa-arrow-down"></i></a>
                        <a href="{{ path(router_item_edit, { id: entity.id }) }}" class="nodecor text-success"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path(router_item_delete, { id: entity.id }) }}" class="nodecor text-error" onclick="return confirm('{{ 'you_sure'|trans }}')"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
    {% if pagerfanta.haveToPaginate %}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', { prev_message: '←', next_message: '→' }) }}
    {% endif %}
{% endblock content %}
